<html>
<head>
    {% load static %}
    <link href='{% static "/css/theme.css" %}' rel='stylesheet' type='text/css' />
    <link rel="shortcut icon" href='{% static "/img/favicon.ico" %}'>
</head>
<body>
<main id="content">
    <!-- Hero Section -->
    {% load static %}
    <div class="gradient-overlay-half-dark-v3 bg-img-hero"
         style="background-image:url({% static '/img/img4.jpg' %});
    margin-bottom:0px;
    width: 100%;
    height:100%;">
        <!-- Main Content -->
        <!--通过style重新设置背景颜色，不使用theme.css模板中的d-lg-flex align-items-lg-center height-85vh颜色--lg-->
        <div class="d-lg-flex align-items-lg-center height-85vh--lg">
            <div class="container space-2 space-0--lg mt-lg-8">
                <div class="row justify-content-lg-between align-items-lg-center">
                    <div class="col-lg-5 mb-7 mb-lg-0">
                        <!-- Title -->
                        <span class="d-block text-white text-uppercase mb-2">深圳市它石信息科技有限公司</span>
                        <h1 class="display-4 font-size-48--md-down text-white mb-0">Interface Automation Test Platform
                            Development</h1>
                        <!-- End Title -->
                    </div>

                    <div class="col-lg-5" style="padding-left: 40px;padding-right: 15px;">
                        <!-- Signup Form -->
                        <div class="bg-white shadow-sm rounded p-6">
                            <form class="js-validate" novalidate="novalidate" action="/login/" method="post">
                                <div class="mb-4">
                                    <h2 class="h4">账号登录</h2>
                                </div>

                                <!-- Input -->
                                <div class="js-form-message mb-3">
                                    <div class="js-focus-state input-group input-group form">
                                        <input type="text" class="form-control form__input" name="username" required=""
                                               placeholder="请输入你的用户名" aria-label="Enter your username">
                                    </div>
                                </div>
                                <!-- End Input -->
                                <!-- Input -->
                                <div class="js-form-message mb-3">
                                    <div class="js-focus-state input-group input-group form">
                                        <input type="password" class="form-control form__input" name="password"
                                               required="" placeholder="请输入你的密码"
                                               aria-label="Enter your password">
                                    </div>
                                </div>
                                <!-- End Input -->
                                {{error}}<br>
                                <button type="submit" class="btn btn-block btn-primary">登录</button>
                                {% csrf_token %}
                            </form>
                        </div>
                        <!-- End Signup Form -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Content -->
    </div>
</main>
</body>
</html>